<!DOCTYPE html>
<html>
<head>
    <title>Purchase history</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#data-table').DataTable();
        });
    </script>
</head>
<body>
    <table id="data-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User Id</th>
                <th>Client</th>
                <th>Amount</th>
                <th>Discount</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item['_id'] }}</td>
                <td>{{ item['userid'] }}</td>
                <td>{{ item['client'] }}</td>
                <td>{{ item['amount'] }}</td>
                <td>{{ item['discount'] }}</td>
                <td>{{ item['timestamp'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
